.section {
  padding-top: 120px;

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--gray-900);

    & span {
      color: var(--primary);
    }
  }

  &__inside-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--gray-900);
  }

  &__subtitle {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    color: var(--gray-900);
    margin-bottom: 24px;

    &--center {
      text-align: center;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-700);
    margin-bottom: 60px;
    text-align: center;
  }

  &__titleh3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray-900);
  }

  &__titleh4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: var(--white);
  }

  &__titleh5 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: var(--gray-900);
  }



  &__swiper {
    padding-bottom: 80px;
  }

  &__slider-slide {
    @include flex-fdc;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
  }

  &__slider-content {
    padding: 16px 20px 0;
  }

  &__slider-title {
    margin-bottom: 5px;
  }

  &__slider-descr {
    font-size: 14px;
    text-align: center;
    color: var(--gray-700);
    margin-bottom: 24px;
  }

  &__slider-link {
    display: none;
  }
}