// 300
// @font-face {
//     font-family: 'OpenSans';
//     src: url(../fonts/OpenSans-LightItalic.woff2) format('woff2'), url(../fonts/OpenSans-LightItalicr.woff) format('woff');
//     font-weight: 300;
//     font-style: italic;
// }

// 400
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.woff2) format('woff2'), url(../fonts/Comfortaa-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
%Comfortaa-400 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}

@font-face {
    font-family: 'YesevaOne';
    src: url(../fonts/YesevaOne-Regular.woff2) format('woff2'), url(../fonts/YesevaOne-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
%YesevaOne-400 {
    font-family: 'YesevaOne', cursive;
    font-weight: 400;
}

// 500

// @font-face {
//     font-family: 'Syne';
//     src: url(../fonts/Syne-Medium.woff2) format('woff2'), url(../fonts/Syne-Medium.woff) format('woff');
//     font-weight: 500;
//     font-style: normal;
// }
// %syne-500 {
//     font-family: 'Syne', sans-serif;
//     font-weight: 500;
// }


// 600
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-SemiBold.woff2) format('woff2'), url(../fonts/Comfortaa-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
%Comfortaa-600 {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
// 700
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Bold.woff2) format('woff2'), url(../fonts/Comfortaa-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
%Comfortaa-700 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

// @extend %yne-700;

